// import files

@import "footer";

section {
  padding: 80px;
}
nav {
  border-bottom: 3px solid $primary;
  ul {
    li {
      margin: 1rem 0.5rem;
      a {
        text-decoration: auto;
        color: green;
        border: 1px solid $primary;
        padding: 0.4rem 1rem;
        border-radius: 7px;
        &:hover {
          background: $footer_dark_color;
          color: $offwhite_grey;
          border: 1 solid transparent;
        }
      }
    }
  }
}

.header_search {
  padding: 1rem;
  border: 0px;
  width: 570px;
  max-width: 55%;
  &:focus {
    outline: none;
  }
}

// Form fields
.form-group {
   margin: 1rem 0;
}

// subscribe field

.subscribe_field {
  display: flex;
  input {
    background-color: #fff;
    padding: 12px;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.1rem;
    display: block;
    border: solid 2px #bbb;
    color: #6f6f6f;
    outline: 0;
    &:focus {
      outline: 0;
    }
  }
  button {
    background-color: #e8404d;
    font-family: helvetica, arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 7px 17px;
    color: #fff;
    margin-left: -5px!important;
    transition: background-color .4s ease-out;

    &:hover {
      background-color: #68a8dc;

    }
  }
}
.course_list {
  .course_img {
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 285px;
      border-radius: 15px;
    }
  }
  h1 {
    font-size: 32px;
    text-transform: capitalize;
    margin: 0.7rem 0rem;
  }
}
