// Variable colors
$primary: #bd9e89;
section {
  padding: 30px;
}
nav {
  border-bottom: 3px solid $primary;
  ul {
    li {
      margin: 1rem 0.5rem;
      a {
        text-decoration: auto;
        color: green;
        border: 1px solid $primary;
        padding: 0.4rem 1rem;
        border-radius: 7px;
        &:hover {
          background: $primary;
          color: white
        }
      }
    }
  }
}
.header_search {
  padding: 1rem;
  border: 0px;
  width: 570px;
  max-width: 55%;
  &:focus {
    outline: none;
  }
}

//Form fields
.form-group {
   margin: 1rem 0;
}